[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
fastapi = "*"
scipy = "*"
stravalib="==1.2.0"

[optional-packages]
scikit-learn = "*"
joblib="*"

[dev-packages]

#[requires]
#python_version = "3.11"
